body{
	padding-top:50px;
	padding-bottom:50px; 
}
.carousel{
	height:500px;
	background-color:#000;
}
.carousel .item{
	height:500px;
	background-color: #000;
}
.carousel img{
	width:100%;
}
.row .col-md-4{
	text-align:center;
}
.row .col-md-4 img{
	width:140px;
	height:140px;
}
#container-s{
	margin-top:60px;
}
.divi{
	margin:40px 0;
}
.tab-content h2{
	padding:30px 0;
}
#tp {
	padding-bottom:50px;
}
#tea h2{
	text-align: center;
	font-weight: bold;
}
#tea .row  .col-md-7 p{
	font-size: 16px;
	line-height: 30px;
}