@charset "utf-8";
/* CSS Document */
 a{
	background-color: #F36;
    color:#00F;
}
#tea .row  .col-md-7 p{
	font-size: 16px;
	line-height: 30px;
}
.pe{
	font-size: ;
	line-height: 30px;
}